<html>
  <head>
    <style>
      div {
        width: 1300;
        height: 400;
        margin: auto;
        border: 2px solid;
      }
    </style>
    <script type="text/javascript" src="<%= socketio %>/socket.io/socket.io.js" ></script>
    <% for(var i = 0; i < scripts.length; i++){ %>
      <script type="text/javascript" src="<%= baseurl %><%= scripts[i] %>" ></script>
    <% } %>
    <script type="text/javascript" defer="defer">
      $(function(){
        window.Engine.plugins.push(window.SnakeEngine);

        var socket = window.io.connect('<%= socketio %>'),
            game = new window.Game(socket),
            renderer = new window.SnakeRenderer(),
            renderLoop = new window.RenderLoop(game, renderer);

        $('html,body').on('keyup', function(e){
          switch(e.which){
            case 38:
              game.emit('gameevent', {type: 'keyNorth'});
              break;
            case 40:
              game.emit('gameevent', {type: 'keySouth'});
              break;
            case 37:
              game.emit('gameevent', {type: 'keyWest'});
              break;
            case 39:
              game.emit('gameevent', {type: 'keyEast'});
              break;
            default:
              console.log('you hit ' + e.which);
              break;
          }
        });
      });
    </script>
  </head>
  <body>
    <div class="game">
    </div>
    <table class="scoreboard">
      <tr><td>Player</td><td>Kills</td><td>Deaths</td><td>Maximum Length</td></tr>
    </table>
  </body>
</html>
