<html>
  <head>
    <style>
      body {
        font: 12px normal Arial,Helvetica,sans-serif;
        color: white;
      }
      div.game {
        background: #003;
        position: fixed;
        top: 10px;
        left: 10px;
        bottom: 9px;
        right: 9px;
        border: 1px solid black;
      }
      div.popup {
        width: 400px;
        margin: -200px 0 0 -200px;
        position: fixed;
        z-index: 2;
        left: 50%;
        top: 50%;
        background: rgba(0,0,0,.8);
        display: none;
        border: 1px solid black;
      }
      #nickname {
        margin-left: 10px;
        margin-bottom: 10px;
      }
      table {
        margin: 10px;
        border-collapse: collapse;
        width: 380px;
      }
      .help {
        position: fixed;
        left: 20px;
        top: 20px;
        background: rgba(0,0,0,.8);
        z-index: 5;
        margin: 0;
        padding: 10px;
        border: 1px solid black;
      }
      .help li {
        list-style: none;
      }
    </style>
    <script type="text/javascript" src="/socket.io/socket.io.js" ></script>
    <% for(var i = 0; i < scripts.length; i++){ %>
      <script type="text/javascript" src="<%= scripts[i] %>" ></script>
    <% } %>
    <script type="text/javascript" defer="defer">
      $(function(){
        window.Engine.plugins.push(window.SnakeEngine);

        var socket = window.io.connect(window.location.hostname),
            game = new window.Game(socket),
            renderer = new window.SnakeRenderer(),
            renderLoop = new window.RenderLoop(game, renderer);

        $('body').on('keyup', function(e){
          switch(e.which){
            case 38:
              game.emit('gameevent', {type: 'keyNorth'});
              break;
            case 40:
              game.emit('gameevent', {type: 'keySouth'});
              break;
            case 37:
              game.emit('gameevent', {type: 'keyWest'});
              break;
            case 39:
              game.emit('gameevent', {type: 'keyEast'});
              break;
            case 81: // q
              if($('div.popup').is(':visible'))
                $('div.popup').hide();
              else
                $('div.popup').show();
              break;
            case 82: // r
              game.emit('gameevent', {type: 'resurrect'});
              break;
            case 72: // h
              if($('.help').is(':visible'))
                $('.help').hide();
              else
                $('.help').show();
              break;
            default:
              console.log('you hit ' + e.which);
              break;
          }
        });

        $('.popup').on('change', '#nickname', function(){
          var nickname = $(this).val();
          if(nickname.trim().length)
            game.emit('gameevent', {type: 'nameChange', newName: nickname});
        });
      });
    </script>
  </head>
  <body>
    <div class="game">
    </div>
    <div class="popup">
      <table class="scoreboard">
        <tr><td>Player</td><td>Kills</td><td>Deaths</td><td>Maximum Length</td></tr>
      </table>
      <input type="text" id="nickname" placeholder="Change Nickname" />
    </div>
    <ul class="help">
      <li>Press "q" to open scoreboard</li>
      <li>Press "r" to resurrect</li>
      <li>Press "h" to toggle help</li>
    </ul>
  </body>
</html>
